<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{ if .Params.draft }}
                    <div>
                        <h1 class="draft_notice">THIS PAGE IS IN DRAFT</h1>
                    </div>
                {{ end }}
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                <div class="aside__metadata">
                    {{- partial "metadata.html" . -}}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>
</html>
