{{ if .Params.publication_year }}
	<p>published: {{ .Params.publication_year }}</p>
{{ end }}

{{ if .Params.creators }}
	<p>created by:
		<ul>
			{{ range $creator := .Params.creators }}
				<li><a href="/creators/{{ $creator | urlize }}">{{ $creator }}</a></li>
			{{ end }}
		</ul>
	</p>
{{ end }}

{{ if .Params.medium }}
	<p>medium: <a href="/medium/{{ .Params.medium }}">{{ .Params.medium }}</a></p>
{{ end }}

{{ if .Params.tags }}
	<p>tags: 
		<ul>
			{{ range $tag := .Params.tags }}
				<li><a href="/tags/{{ $tag }}">{{ $tag }}</a></li>
			{{ end }}
		</ul>
	</p>
{{ end }}

{{ if .Params.collections }}
	<p>collections:
		<ul>
			{{ range $collection := .Params.collections }}
				<li><a href="/collections/{{ $collection }}">{{ $collection }}</a></li>
			{{ end }}
		</ul>
	</p>
{{ end }}

{{ if .Params.links }}
	<p>links:
		<ul>
			{{ range $name, $link := .Params.links }}
				<li><a href="{{ $link }}">{{ $name }}</a></li>
			{{ end }}
		</ul>
	</p>
{{ end }}




