{{ define "main" }}
    <h2>Latest Posts</h2>

    <ul>
    {{ range first 10 (sort .Site.RegularPages "Date" "desc") }}
    <li>
        <span>[{{ .Section }}]</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <small>{{ .Date.Format "2006-01-02" }}</small>
    </li>
    {{ end }}
    </ul>

    <h2>Popular Tags</h2>

    <ul>
    {{ range first 10 .Site.Taxonomies.tags.ByCount }}
    <li>
        <a href="{{ .Page.RelPermalink }}" class="tag-link">{{ .Page.Title }} ({{ .Count }})</a>
    </li>
    {{ end }}
    </ul>

    <hr/>

    {{ .Content }}
{{ end }}

