{{ define "main" }}
    <h2>Latest Posts</h2>

    <ul>
    {{ range first 10 (sort .Site.RegularPages "Date" "desc") }}
    <li>
        <small>{{ .Date.Format "2006-01-02" }}</small>
        <span class="abrv__{{ .Section }}"/>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    </ul>

    <h2>Popular Tags</h2>

    <div class="grid_list">
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
            <div>[{{ printf "%04d" .Count }}]x <a href="{{ .Page.RelPermalink }}" class="tag-link">{{ .Page.Title }}</a></div>
        {{ end }}
    </div>

    <hr/>

    {{ .Content }}
{{ end }}

